Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?
`

In [ ]:
"""
MongoDB is an open-source document-oriented DB designed to store large 
scale of data and allow us to work with that data efficiently. Categorized under 
NoSQL(Not Only SQL) as in MongoDB storage and retrieval of data not in form of 
tables

Non-relational DB (often called NoSQL) database store their data in a non-tabular
form. Non-relational DB might be based on Data Structure like documents. These 
documents makes non-relational DB much more flexible than relational DB. 

Usage:
- when large amount of complex and diverse data need to be organized.
- perform faster as query doesn't need to view several d/f tables for data
- Ideal for storing data that changed frequently or application handle d/f kind of data
- Dynamically adopt and able to change large amount of complex & unstructured data
"""

Q2. State and Explain the features of MongoDB.

In [ ]:
""" Features 
- Schema-less Database: a single collection can hold mulitple documents of d/f
    no. of field, content and size
- Document Oriented: Data stored in Documents instead of tables,
    in docs data stored in field(key-value pair) like JSON file
- Indexing: every field in docs is indexed with primary and secondary indicies
    which makes it easier and take less time to search 
- Scalability: Due to Horizontal Scalable DB helps in Sharding, 
    Sharding(to distribute data on multiple servers)
- Replication: copy of data sent to dif. servers so if one server fails 
    data retrieved from another server
- Aggregation: allows performing ops on data and grouped into single result
- High performance

"""

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [5]:
import pymongo
#connection establishment
client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster.dnr2x3j.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [6]:
#creating DB
db = client['pwDB']

In [7]:
#creating collection 
coll_create = db["my_record"]

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [8]:
#inserting single data
data ={"key": 'value',
      "user": "root", 
      "just": "entering", 
      "any": "data", 
      "in": "collection"}

#Document inserted in collection     -----docs is nothing but data itself
coll_create.insert_one(data)

In [9]:
# inserting multiple records 
data= [
    {
        "name":"mayank",
        "user":"Pwskills", 
        "course":"DSM"
    },
    {
        "name": "Subham",
        "user": "spotify",
        "hobby": "Multiplayer Game"
    },
    {
        "_id": "007",
        "work": "Detective",
        "place": "unkown"
    }
]

In [10]:
coll_create.insert_many(data)

In [11]:
#find() will show all available record
for i in coll_create.find(): 
    print(i)
    
print('\n\n\n\n')

#gave us exactly one record if condition true if no parameter than randomly pick one record 
print(coll_create.find_one({"_id":"007"}))
# same parameter can be pass in find() and gave us all record which satisfy condition

{'_id': ObjectId('63f0e591adcad5e44f2b10e5'), 'key': 'value', 'user': 'root', 'just': 'entering', 'any': 'data', 'in': 'collection'}
{'_id': ObjectId('63f0e5a8adcad5e44f2b10e6'), 'name': 'mayank', 'user': 'Pwskills', 'course': 'DSM'}
{'_id': ObjectId('63f0e5a8adcad5e44f2b10e7'), 'name': 'Subham', 'user': 'spotify', 'hobby': 'Multiplayer Game'}
{'_id': '007', 'work': 'Detective', 'place': 'unkown'}





{'_id': '007', 'work': 'Detective', 'place': 'unkown'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

In [12]:
#inserting data for find() operation 
data = [
    {
        "_id": "001", 
        "first_name": "Rahul",
        "last_name": "Gandhi",
        "Party": "Congress",
        "Passion": "Part-time Politician"
    },
    {
        "_id": "002", 
        "first_name": "Arvind", 
        "last_name" : "Kejriwal", 
        "Party": "AAP",
        "Passion": "Breaking records"
    },
    {
        "_id": "003", 
        "first_name": "Nimo", 
        "party": "BJP", 
        "Passion": "Breaking Laws"
    }
]
coll_create.insert_many(data)

In [13]:
for i in coll_create.find({"_id": {'$gte': '002'}}):
    print(i)

{'_id': '002', 'first_name': 'Arvind', 'last_name': 'Kejriwal', 'Party': 'AAP', 'Passion': 'Breaking records'}
{'_id': '003', 'first_name': 'Nimo', 'party': 'BJP', 'Passion': 'Breaking Laws'}
{'_id': '007', 'work': 'Detective', 'place': 'unkown'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [14]:
new_coll = db["products"]
data = [
    { "_id" : 1, "name" : "xPhone", "price" : 799, "releaseDate" : "2011-05-14T00:00:00Z", "spec" : { "ram" : 4, "screen" : 6.5, "cpu" : 2.66 }, "color" : [ "white", "black" ], "storage" : [ 64, 128, 256 ] },
    { "_id" : 2, "name" : "xTablet", "price" : 899, "releaseDate" : "2011-09-01T00:00:00Z", "spec" : { "ram" : 16, "screen" : 9.5, "cpu" : 3.66 }, "color" : [ "white", "black", "purple" ], "storage" : [ 128, 256, 512 ] },
    { "_id" : 3, "name" : "SmartTablet", "price" : 899, "releaseDate" : "2015-01-14T00:00:00Z", "spec" : { "ram" : 12, "screen" : 9.7, "cpu" : 3.66 }, "color" : [ "blue" ], "storage" : [ 16, 64, 128 ] },
    { "_id" : 4, "name" : "SmartPad", "price" : 699, "releaseDate" : "2020-05-14T00:00:00Z", "spec" : { "ram" : 8, "screen" : 9.7, "cpu" : 1.66 }, "color" : [ "white", "orange", "gold", "gray" ], "storage" : [ 128, 256, 1024 ] },
    { "_id" : 5, "name" : "SmartPhone", "price" : 599, "releaseDate" : "2022-09-14T00:00:00Z", "spec" : { "ram" : 4, "screen" : 9.7, "cpu" : 1.66 }, "color" : [ "white", "orange", "gold", "gray" ], "storage" : [ 128, 256 ] },
    { "_id" : 6, "name" : "xWidget", "spec" : { "ram" : 64, "screen" : 9.7, "cpu" : 3.66 }, "color" : [ "black" ], "storage" : [ 1024 ] },
    { "_id" : 7, "name" : "xReader", "price" : 'null', "spec" : { "ram" : 64, "screen" : 6.7, "cpu" : 3.66 }, "color" : [ "black", "white" ], "storage" : [ 128 ] }
]

new_coll.insert_many(data)

In [19]:
sort = new_coll.find().sort("_id",-1)

In [20]:
for i in sort:
    print(i)

{'_id': 7, 'name': 'xReader', 'price': 'null', 'spec': {'ram': 64, 'screen': 6.7, 'cpu': 3.66}, 'color': ['black', 'white'], 'storage': [128]}
{'_id': 6, 'name': 'xWidget', 'spec': {'ram': 64, 'screen': 9.7, 'cpu': 3.66}, 'color': ['black'], 'storage': [1024]}
{'_id': 5, 'name': 'SmartPhone', 'price': 599, 'releaseDate': '2022-09-14T00:00:00Z', 'spec': {'ram': 4, 'screen': 9.7, 'cpu': 1.66}, 'color': ['white', 'orange', 'gold', 'gray'], 'storage': [128, 256]}
{'_id': 4, 'name': 'SmartPad', 'price': 699, 'releaseDate': '2020-05-14T00:00:00Z', 'spec': {'ram': 8, 'screen': 9.7, 'cpu': 1.66}, 'color': ['white', 'orange', 'gold', 'gray'], 'storage': [128, 256, 1024]}
{'_id': 3, 'name': 'SmartTablet', 'price': 899, 'releaseDate': '2015-01-14T00:00:00Z', 'spec': {'ram': 12, 'screen': 9.7, 'cpu': 3.66}, 'color': ['blue'], 'storage': [16, 64, 128]}
{'_id': 2, 'name': 'xTablet', 'price': 899, 'releaseDate': '2011-09-01T00:00:00Z', 'spec': {'ram': 16, 'screen': 9.5, 'cpu': 3.66}, 'color': ['white', 'black', 'purple'], 'storage': [128, 256, 512]}
{'_id': 1, 'name': 'xPhone', 'price': 799, 'releaseDate': '2011-05-14T00:00:00Z', 'spec': {'ram': 4, 'screen': 6.5, 'cpu': 2.66}, 'color': ['white', 'black'], 'storage': [64, 128, 256]}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [ ]:
"""
delete_one()  a single record deleted that matches the passed Parameter in it
like
new_coll.delete_one("_id": 4)

delete_many() deletes one or more records from the database matches the 
    filter if no filter passed delete all record in the collection
new_coll.delete_many({}) this will delete all the records from new_coll
new_coll.delete_many("_id":{"$gte": "3"}) # delete all record having _id greater than or equal to 3 

drop() used to drop a collection from the DB. this delete whole collection and its data
new_coll.drop()

"""
new_coll.delete_one()
new_coll.delete_many()
new_coll.drop()