In [25]:
a=10

In [26]:
a='c'

In [4]:
type(a)

str

In [7]:
int('123')

123

In [8]:
int('abcd')

ValueError: invalid literal for int() with base 10: 'abcd'

In [9]:
print("Hello World")

Hello World

In [10]:
print(123)

123

In [11]:
print('Hello World')

Hello World

In [13]:
age=32
print("My age is:",age)

My age is: 32

In [16]:
##  f string
print(f"My age is: {age}")

My age is: 32

In [17]:
## format()
name="Krish"
age=32
print("My name is {} and age is {}".format(name,age))

My name is Krish and age is 32

In [18]:
print("My name is {} and age is {}".format(age,name))

My name is 32 and age is Krish

In [20]:
##placeholder
print("My name is {firstname} and age is {firstage}".format(firstage=age,firstname=name))

My name is Krish and age is 32

In [ ]:
name="Krish Naik"
age=32
degree="BE"

" My age is 32 and i have completed: my degree of BE with the name of Krish Naik"

In [ ]:
print("My age is {} and i have completed: my degree {} with the name of {}".format(age,degree,name))

In [ ]:
print(f"My age is {age} and I have completed: my degree of {degree} with the name of {name}")

## Control Flow
### Decision Making statements
   * It is kind of making decision during occurred situation of program execution and action can be taken according to specified conditions.
   * Structure of decision making evaluate several expressions that provide True or False as a result.
   * It is up to you to decide which type of action want to take and execute the statements based upon True and False.
   
**These are several topics of decision making which going to be discussed below:**
   1. **if**
   2. **if else** 
   3. **if elif else**
   4. **Nested if**
   5. **Single Statement Suites**

In [28]:
## If Statements
age=18
if age>=18:
    print("You are eligible to vote")

You are eligible to vote

In [34]:
## If Statements
age=17
if age<18:
    print("You are not eligible to vote")

You are not eligible to vote

In [33]:
18<=18

True

In [41]:
name=input("Enter the name")

Enter the name krish naik

In [42]:
name

'krish naik'

In [38]:
age=int(input("Enter your age"))

Enter your age 32

In [40]:
type(age)

int

In [ ]:
##Task
## Take a input of age
## check whether age >=18 and age<=45
## display a message you are young blood

In [43]:
True and False

False

In [52]:
age=int(input("Enter the age"))
if  age>=18 and age <=45:
    print("You are young blood")

Enter the age 22

You are young blood

In [47]:
22>=18 and 22<=45

True

In [46]:
22<=42

True

In [53]:
age=int(input("Enter the age"))
if  age>=18 and age <=45:
    print("You are young blood")

Enter the age 55

In [55]:
## if else satetements
age=int(input("Enter the age"))
if  age>=18 and age <=45:
    print("You are young blood")
else:
    print("Thank you your we will let you know")

Enter the age 56

Thank you your we will let you know

In [ ]:
## mall - input the product price
## product >1000 rs 20% off
## print the product price after removing the discount
## product <=1000 rs 30% off
## print the product price after removing the discount

In [60]:
product_price=int(input("Enter the price"))
if product_price>1000:
    print("The price of the product is {}".format(product_price*0.8))
else:
    print("The price of the product is {}".format(product_price*0.7))

Enter the price 10

The price of the product is 7.0

In [59]:
int((20/100)*5000)

1000

In [61]:
product_price=int(input("Enter the price"))
if product_price>1000:
    print(f"The price of the product is {product_price*0.8}")
else:
    print("The price of the product is {}".format(product_price*0.7))

Enter the price 2000

The price of the product is 1600.0

In [ ]:
## mall - input the product price
## product >3000 rs 20% off
## price is ==4000 you get a trip to Goa
## print the product price after removing the discount
## product >=2000 rs and <=3000 30% off
## print the product price after removing the discount
## price ==2999  u will get adiitional gift
## product 100 rs and <=2000 40% off
## print the product price after removing the discount

In [69]:
product_price=int(input("Enter the price"))
if product_price>3000:
    if product_price==4000:
        print("Congratulations you get a Goa Trip")
    print(f"The price of the product is {product_price*0.8}")
elif product_price>=2000 and product_price<=3000:
    if product_price==2999:
        print("Congratulations you get an additional gift")
    print(f"The price of the product is {product_price*0.7}")
elif product_price>=100 and product_price<2000:
    print(f"The price of the product is {product_price*0.6}")
else:
    print("Lets drink tea")
    print("I will also be there")

Enter the price 2000

The price of the product is 1400.0

In [66]:
#comaprission operator
True==True

True

In [71]:
## Single statement Suites
val=int(input('Enter the number'))
if(val<=999):print("Value is less than equal to 999")
else:
    print("Go Home")

Enter the number 1000

Go Home

## Loops statements
1. while loop
2. for loop
3. nested loops
4. Loop control(break,continue,pass)

In [74]:
# while loop while-else
joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
    
else:
    print("Its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time for retirement

In [81]:
### Atm machine with 1000 rs
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("Put more money bank people")
    
print("Hello All")

1000
900
800
700
600
500
400
300
200
100
Put more money bank people
Hello All

## For Loop

In [82]:
lst=["Krish",1,2,3,4,"apple","banana"]

In [83]:
type(lst)

list

In [85]:
lst[4]

4

In [87]:
lst

['Krish', 1, 2, 3, 4, 'apple', 'banana']

In [88]:
for x in lst:
    print(x)

Krish
1
2
3
4
apple
banana

In [89]:
fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"]

In [95]:
for a in fruits_list:
    print(a)
    if a=="Cherry":
        print("The fruit is cherry")

Mango
Cherry
The fruit is cherry
Apple
Papaya
Banana

In [96]:
fruit='mango'
for x in fruit:
    print(x)

m
a
n
g
o

In [101]:
fruit='mango'
for x in fruit:
    print(x)

m
a
n
g
o

In [99]:
fruit[2]

'n'

In [ ]:
###  Nested loops
n=7

In [105]:
## range
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [119]:
for i in range(0,7,2):
    print(i)

0
2
4
6

In [111]:
## Nested loops
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [112]:
##Loop controls
## Break and continue
fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"]

In [115]:
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        break
    print(i)

Mango
Cherry
The fruit is apple

In [116]:
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        pass
    print(i)

Mango
Cherry
The fruit is apple
Apple
Papaya
Banana

In [117]:
##continue
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        continue
    print(i)

Mango
Cherry
The fruit is apple
Papaya
Banana